@charset "utf-8";
@use "./base/functions" as *;
@use "./base/mixins" as *;

// Variables
:root {
  // Fonts
  --font: "Rubik";

  // Colours
  --primary-light: #313e51;
  --primary-dark: white;
  --secondary-light: #626c7f;
  --secondary-dark: #abc1e1;
  --primary-background-light: #f4f6fa;
  --primary-background-dark: #313e51;
  --secondary-background-light: white;
  --secondary-background-dark: #3b4d66;
  --shadow-light: rgb(143 160 193 / 0.14);
  --shadow-dark: rgb(49 62 81 / 0.14);
  --primary-correct: #2fd887;
  --primary-incorrect: #ee5454;
  @property --subject-theme-colour {
    syntax: "<color>";
    inherits: false;
    initial-value: #626c7f;
  }

  // Sizes, gaps, margins, paddings, borders, transforms
  --outer-block-margin-start: #{px2rem(16)};
  --outer-block-margin-end: #{px2rem(32)};
  --outer-inline-margin: #{px2rem(24)};
  $outer-inline-base: 1157;
  --outer-inline-size: calc(#{$outer-inline-base} / 1440 * 100vi);
  --outer-max-inline-size: #{px2rem($outer-inline-base)};
  --outer-start-block-margin-start: #{px2rem(26)};
  --outer-background-1-size: 977px;
  --outer-background-2-block-size: 608px;
  --outer-background-2-inline-size: 540px;
  --outer-background-1-block-inset: 0;
  --outer-background-1-inline-inset: 0;
  --grid-first-column-size: calc(465 / #{$outer-inline-base} * 100%);
  --grid-gap: #{px2rem(128)};
  --header-block-margin-end: #{px2rem(48)};
  --header-start-block-margin-end: #{px2rem(40)};
  --header-start-block-inset-start: #{px2rem(-127)};
  --header-start-inline-inset-end: 0;
  --header-start-gap: #{px2rem(16)};
  --mode-choice-start-block-margin-end: #{px2rem(42)};
  --mode-choice-gap: #{px2rem(8)};
  --mode-choice-button-block-size: #{px2rem(20)};
  --mode-choice-button-inline-size: #{px2rem(32)};
  --mode-choice-button-border-radius: #{px2rem(10)};
  --mode-choice-button-inside-size: #{px2rem(12)};
  --mode-choice-button-inside-block-inset: 50%;
  --mode-choice-button-inside-inline-inset: #{px2rem(4)};
  --mode-choice-button-inside-translate-y: -50%;
  --mode-choice-weather-icon-size: 16px;
  --header-title-size: #{px2rem(18)};
  --header-title-internal-margin: #{px2rem(16)};
  --header-start-title-size: #{px2rem(40)};
  --header-start-title-internal-margin: #{px2rem(8)};
  --header-start-text-size: #{px2rem(14)};
  --subject-picture-small-size: 40px;
  --items-text-size: #{px2rem(18)};
  --items-gap: #{px2rem(16)};
  --items-internal-gap: #{px2rem(16)};
  --items-padding: #{px2rem(16)};
  --items-border-radius: #{px2rem(12)};
  --items-box-shadow: 0 #{px2rem(16)} #{px2rem(40)} light-dark(var(--shadow-light), var(--shadow-dark));
  --question-gap: #{px2rem(16)};
  --question-header-block-margin: #{px2rem(40)};
  --question-title-size: #{px2rem(20)};
  --question-title-inside-margin: #{px2rem(16)};
  --question-number-text-size: #{px2rem(14)};
  --question-progress-block-size: #{px2rem(16)};
  --question-progress-block-margin: #{px2rem(24)};
  --question-progress-padding: #{px2rem(4)};
  --question-button-text-size: #{px2rem(18)};
  --question-button-padding: #{px2rem(16)};
  --question-button-border-radius: #{px2rem(16)};
  --question-error-message-gap: #{px2rem(8)};
  --question-error-message-text-size: #{px2rem(18)};
  --question-error-message-text-line-height: 1;
  --answer-rank-size: #{px2rem(40)};
  --answer-border-radius: #{px2rem(6)};
  --answer-outline-width: #{px2rem(3)};
  --answer-outline-offset: #{px2rem(-3)};
  --answer-result-size: 32px;
  --score-header-block-margin: #{px2rem(40)};
  --score-header-inner-margin: #{px2rem(8)};
  --score-title-size: #{px2rem(40)};
  --score-result-text-size: #{px2rem(18)};
  --score-result-padding: #{px2rem(32)};
  --score-result-block-margin: #{px2rem(16)};
  --score-result-border-radius: #{px2rem(12)};
  --score-result-subject-text-size: #{px2rem(18)};
  --score-result-subject-block-margin: #{px2rem(16)};
  --score-result-subject-gap: #{px2rem(16)};
  --score-result-note-text-size: #{px2rem(88)};
  --score-result-note-block-margin: #{px2rem(16)};
  --score-button-text-size: #{px2rem(18)};
  --score-button-padding: #{px2rem(16)};
  --score-button-border-radius: #{px2rem(12)};
  @include css-media-queries($from-breakpoint: bigger-icons) {
    --outer-block-margin-start: #{px2rem(40)};
    --outer-block-margin-end: #{px2rem(52)};
    --outer-inline-margin: #{px2rem(64)};
    --outer-start-block-margin-start: #{px2rem(54)};
    --outer-background-1-block-inset: -446px;
    --outer-background-1-inline-inset: -539px;
    --header-block-margin-end: #{px2rem(49)};
    --header-start-block-margin-end: #{px2rem(64)};
    --mode-choice-start-block-margin-end: #{px2rem(31)};
    --mode-choice-gap: #{px2rem(16)};
    --mode-choice-weather-icon-size: 24px;
    --header-title-size: #{px2rem(28)};
    --header-title-internal-margin: #{px2rem(24)};
    --header-start-title-size: #{px2rem(64)};
    --header-start-text-size: #{px2rem(20)};
    --items-text-size: #{px2rem(28)};
    --items-gap: #{px2rem(24)};
    --items-internal-gap: #{px2rem(32)};
    --items-border-radius: #{px2rem(24)};
    --question-gap: #{px2rem(32)};
    --question-title-size: #{px2rem(36)};
    --question-title-inside-margin: #{px2rem(24)};
    --question-number-text-size: #{px2rem(20)};
    --question-progress-block-margin: #{px2rem(40)};
    --question-button-text-size: #{px2rem(28)};
    --question-button-padding: #{px2rem(32)};
    --question-button-border-radius: #{px2rem(24)};
    --question-error-message-text-size: #{px2rem(24)};
    --question-error-message-text-line-height: 1.5;
    --answer-rank-size: #{px2rem(56)};
    --answer-border-radius: #{px2rem(12)};
    --answer-result-size: 40px;
    --score-header-block-margin: #{px2rem(64)};
    --score-result-text-size: #{px2rem(24)};
    --score-result-padding: #{px2rem(48)};
    --score-result-block-margin: #{px2rem(32)};
    --score-result-border-radius: #{px2rem(24)};
    --score-result-subject-text-size: #{px2rem(28)};
    --score-result-subject-block-margin: #{px2rem(40)};
    --score-result-subject-gap: #{px2rem(24)};
    --score-result-note-text-size: #{px2rem(144)};
    --score-button-text-size: #{px2rem(28)};
    --score-button-padding: #{px2rem(32)};
    --score-button-border-radius: #{px2rem(24)};
  }
  @include css-media-queries($from-breakpoint: multicol-layout) {
    --outer-block-margin-start: #{px2rem(83)};
    --outer-block-margin-end: #{px2rem(148)};
    --outer-inline-margin: auto;
    --outer-start-block-margin-start: #{px2rem(224)};
    --outer-background-1-block-inset: -413px;
    --outer-background-1-inline-inset: -539px;
    --header-block-margin-end: #{px2rem(85)};
    --header-start-gap: #{px2rem(48)};
    --items-gap: #{px2rem(16)};
    --items-padding: #{px2rem(24)};
    --question-header-block-margin: #{px2rem(119)};
    --answer-border-radius: #{px2rem(8)};
  }
}
