@charset "utf-8";
@use "sass:list";

/**
 * @site Frontend Quiz
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
  $media-queries-breakpoints: (
    bigger-icons: 500,
    multicol-layout: 1080
  )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
@use "./common/utils";
@use "./common/mode-choice";
@use "./layout/general";
@use "./layout/quiz";
@use "./header/header";
