@charset "utf-8";

/** @section Font faces */
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-VariableFont_wght.woff2") format("woff2") tech(variations);
  font-style: normal;
  font-weight: 300 500;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-Italic-VariableFont_wght.woff2") format("woff2") tech(variations);
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}