@charset "utf-8";
@use "../base/mixins" as *;
@use "./mixins" as question;

/** @section Question */
#question {
  header {
    margin-block-end: var(--question-header-block-margin);
    h2 {
      font-size: var(--question-title-size);
      line-height: 1.2;
    }
    p {
      margin-block-start: var(--question-progress-block-margin);
    }
    progress {
      @include question.progress-bar-background;
      box-sizing: border-box;
      inline-size: 100%;
      block-size: var(--question-progress-block-size);
      padding: var(--question-progress-padding);
      appearance: none;
      border: none;
      @include question.progress-border-radius;
      &::-moz-progress-bar {
        @include question.progress-value;
      }
      &::-webkit-progress-bar {
        @include question.progress-bar-background;
        @include question.progress-border-radius;
      }
      &::-webkit-progress-value {
        @include question.progress-value;
      }
    }
    .question-number {
      font-size: var(--question-number-text-size);
      line-height: 1.5;
      font-style: italic;
      display: block;
      margin-block-end: var(--question-title-inside-margin);
    }
  }
  form, form p {
    display: flex;
    flex-direction: column;
  }
  form {
    gap: var(--question-gap);
  }
  input[type="submit"] {
    font-size: var(--question-button-text-size);
    line-height: 1;
    font-weight: 500;
    color: var(--primary-dark);
    background: var(--subject-theme-colour);
    padding: var(--question-button-padding);
    border: none;
    border-radius: var(--question-button-border-radius);
    box-shadow: var(--items-box-shadow);
    &.unanswered {
      background: linear-gradient(rgb(255 255 255 / .5)), var(--subject-theme-colour);
    }
  }
  .error-message {
    font-size: var(--question-error-message-text-size);
    line-height: var(--question-error-message-text-line-height);
    color: light-dark(var(--primary-incorrect), var(--primary-dark));
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    gap: var(--question-error-message-gap);
    order: 1;
    &:not(:empty)::before {
      background: url("images/answer-result.svg") no-repeat center -32px;
      display: block;
      width: var(--answer-result-size);
      aspect-ratio: 1;
      content: "";
    }
  }
  @include css-media-queries($from-breakpoint: bigger-icons) {
    .error-message {
      &:not(:empty)::before {
        background-position-y: -104px;
      }
    }
  }
  @include css-media-queries($from-breakpoint: multicol-layout) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin-block-start: initial;
      }
    }
  }
}