@charset "utf-8";
@use "../common/mixins" as common;

/** @section Items */
.subjects, .answers {
  font-size: var(--items-text-size);
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: var(--items-gap);
  list-style: none;
  li {
    background: light-dark(var(--secondary-background-light), var(--secondary-background-dark));
    display: flex;
    gap: var(--items-internal-gap);
    align-items: center;
    padding: var(--items-padding);
    border-radius: var(--items-border-radius);
    box-shadow: var(--items-box-shadow);
  }
  a {
    color: inherit;
    text-decoration: none;
    display: contents;
  }
  @include common.small-subject-picture;
}